.body {
	background-color: rgb(233, 234, 235);
}

.sweet-alert button.cancel, .sweet-alert button.cancel:hover {
	background-color: #057748;
	box-shadow: rgba(5, 119, 72, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset;
}

.game-space {
  position: absolute;
  left:calc(50% - 165px);
}

.big-title {
  padding: 10px;
  font-size: 3em;
}
.chess {
  width:350px;
  padding: 10px;
}

.chess-box {
  display:inline-block;
  border: 1px solid black;
  padding: 20px;
  width: 110px;
  height: 110px;
  text-align:center;
  vertical-align: middle;
  overflow: hidden;
}

.player1, .player2 {
  font-size: 5em;
  text-align:center;
  vertical-align: middle;
}

.player1 {
  color: red;
}

.player2 {
  color: green;
}

.turn-info {
  padding:10px;
  display:block;
  vertical-align: middle;
}

.turn-info p{
  font-size:1.5em;
  float:left;
}

.turn-info span {
  font-size: 1.5em;
  float:right;
}